.dashboard {
  width: 100; 
  /* To adjust the height as well */ 
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #263064;
}

.dashboard__container {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #626972;
  padding: 30px;
  align-content: center;
  border-radius: 12px;
}

.dashboard__btn {
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  border: none;
  color: white;
  background-color: black;
}

.dashboard div {
  margin-top: 7px;
}